.wombat-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.content {
  flex: 1;
}

.footer-column-ellipsis .content {
  white-space: nowrap;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}
