.form-select {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  /*padding: 0 10px;*/

  .v-text-field {
    margin-top: 0;
    padding-top: 0;
  }

  .v-input__slot {
    border: 1px solid $form-input-border-color;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 0;
    padding: 5px 0 5px 5px;

    &::before {
      border: none !important;
    }
  }
}

.device-history-table {
  .column-devicelocation,
  .column-branchlocation {
    align-items: center;
    display: flex;
    justify-content: center;

    a {
      line-height: normal !important;
      white-space: normal !important;
    }
  }
}
