@import './variables.scss';
@import './fonts.scss';
@import './table.scss';
@import './datepicker.scss';
@import './deviceSelect.scss';
@import './mixins.scss';

html {
  overflow: hidden;
}

#app .customers-table,
#app .superadmin-companies-table {
  .virtual-list {
    max-height: calc(
      100vh - #{$header-height} - 2 * #{$table-list-padding} - #{$customers-table-toolbar-height} -
        #{$table-header-height} - #{$table-footer-height}
    );
  }
}

.payments-table {
  .virtual-list {
    max-height: calc(
      100vh - #{$header-height} - 2 * #{$table-list-padding} - #{$calls-table-toolbar-height} -
        #{$table-header-height} - #{$table-footer-height} - #{$payments-header-height}
    );
  }
}

.operators-table {
  .virtual-list {
    max-height: calc(
      100vh - #{$header-height} - 2 * #{$table-list-padding} - #{$calls-table-toolbar-height} -
        #{$table-header-height} - #{$table-footer-height}
    );
  }

  .table-full-height-balloon {
    box-shadow: 0 2px 4px 0 $calls-feedback-card-shadow-color;
  }

  .wombat-row {
    .column-lastpayment,
    .column-date,
    .column-disposition {
      @include inactive-cell;
    }

    .column-disposition {
      font-size: 12px;
    }
  }

  .wombat-row.call-missed {
    background-color: $calls-missed-call-background-color;

    .column-type {
      @include inactive-cell;
    }
  }

  .v-input--selection-controls {
    .v-messages {
      display: none;
    }

    .v-icon.material-icons {
      color: $popper-chechkbox-color !important;
    }

    .v-label {
      color: $popper-text-color;
      font-family: Roboto;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }
  }
}

#app .call-feedback-card,
.add-device-popup {
  width: $calls-feedback-card-width;
  height: 100%;
  display: flex;
  flex-flow: column;
  padding: 24px 10px 10px 27px;
  background-color: $calls-feedback-card-background-color;

  .card-header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    color: $calls-feedback-card-primary-color;
    margin-bottom: 15px;

    .close-icon {
      cursor: pointer;
      color: $calls-feedback-card-primary-color;
      opacity: 0.2;
      font-weight: bold;
    }
  }

  .labelled-description {
    margin-bottom: 5px;

    .label,
    .description {
      margin-bottom: 8px;
    }

    .label {
      font-size: 12px;
      color: $calls-feedback-card-secondary-color;
    }

    .description {
      font-size: 14px;
      color: $calls-feedback-card-primary-color;
    }
  }

  .technical-details {
    margin-top: 10px;
  }

  .technical-detail {
    font-size: 11px;
    margin-bottom: 15px;

    .detail-title {
      color: $calls-feedback-card-primary-color;
    }

    .detail-value {
      color: $calls-feedback-card-secondary-color;
    }
  }
}

// Overriding vuetify text-input styles
.settings-container {
  .v-input__slot {
    min-height: 26px !important;
  }
  .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)
    .v-input__slot {
    box-shadow: $settings-input-box-shadow;
  }
}
.v-dialog {
  width: auto;
}
.v-radio {
  margin-right: 0;
}

#app .video-call {
  .v-slider__thumb {
    visibility: hidden;
  }

  .local-media video {
    max-width: $call-local-media-width;
    max-height: $call-local-media-height;
    border-radius: 8px;
  }
}

#app .v-slider__track__container {
  height: 6px;
  background-color: rgba(216, 216, 216, 0.2);
  border-radius: 4px;
}

#app .v-slider__track-fill {
  height: 20px;
}

#app .popper {
  max-height: calc(
    100vh - #{$header-height} - #{$calls-table-toolbar-height} - #{$table-header-height} +
      10px
  );
  background-color: $popper-background-color;
  border-radius: 8px;
  border: none;
  box-shadow: 0 2px 24px 0 $popper-shadow-color;
  padding: 0px;
  top: 10px !important;

  &[x-placement^='bottom'] {
    .popper__arrow {
      border-width: 0 10px 10px 10px !important;
      top: -10px !important;
      border-bottom-color: $popper-background-color;
    }
  }
}

#app .video-call {
  .remote-media {
    video {
      min-width: 100%;
      max-height: 100%;
    }
  }
}

.popover {
  border-radius: 8px;
  background-color: $base-white;
  box-shadow: 0 2px 24px 0 $popper-shadow-color;
  &:after,
  &:before {
    bottom: 100%;
    left: 93%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-bottom-color: $base-white;
    border-width: 8px;
    margin-left: -8px;
  }
}
.v-menu__content {
  overflow: visible;
  contain: inherit;
}

button {
  outline: 0;
}

.hidden {
  display: none;
}

//v-select menu styling
.v-select-list.v-card.theme--light {
  .v-list {
    padding: 0;
  }
  .v-list__tile--link {
    height: 42px;
    border-bottom: 1px solid #e1eefe;
  }
}

.application--wrap.blurred {
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
  -webkit-filter: url(#blur-filter);
  filter: url(#blur-filter);
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.application--wrap.shadow-overlay::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $table-shadow-color;
}

.blur-svg {
  display: none;
}

.v-overlay:before {
  background: none;
}

.notifications {
  margin-top: calc(#{$header-height} + 5px);
}
.vue-notification.info {
  background-color: $base-blue;
}

#app .device-history-table {
  .column-devicelocation, .column-branchlocation {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .location-cell {
    line-height: normal;
    white-space: normal;
  }
}

.filter-wrapper {
  .quick-search {
    &.v-text-field.v-text-field--solo .v-input__control {
      min-height: 20px;
    }
  }

  &:first-child .table-filter {
    border-radius: 3px 0 0 3px;
    border-right-color: $table-filter-border-right-color;
  }
  &:last-child .table-filter {
    border-radius: 0 3px 3px 0;
  }
  &:only-of-type .table-filter {
    border-radius: 3px;
  }
}

.big-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}
