.wombat-table .cell {
  box-sizing: border-box;
  padding: 0 5px;
  text-align: center;

  .row-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.text {
    text-align: left;
  }

  &.number,
  &.date {
    text-align: right;
  }
}

.customers-table .wombat-table {
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;

  .wombat-header {
    height: $table-header-height;
    border-bottom: 2px solid $table-row-border-color;
    font-size: 12px;
    color: $table-header-text-color;
  }

  .row-wrapper {
    color: $table-row-text-color;
    font-size: 14px;

    &:not(:last-child) {
      border-bottom: 2px solid $table-row-border-color;
    }
  }

  .wombat-footer {
    height: $table-footer-height;
    border-top: 2px solid $table-row-border-color;
  }

  .wombat-row .column-lastpayment {
    opacity: 0.56;
    font-size: 14px;
    color: $table-inactive-color;
  }

  .row-cell {
    line-height: 50px;
  }

  .customers-table-footer {
    height: 40px;
  }

  .virtual-list {
    max-height: calc(
      100vh - #{$header-height} - 2 * #{$customers-list-padding} - #{$customers-table-header-height} -
        #{$table-header-height} - #{$table-footer-height}
    ) !important;
  }
}
