$header-background-color: #3c91f7;
$header-text-color: #fff;
$header-height: 56px;

$lhs-width: 45px;
$lhs-background-color: #fff;
$lhs-icon-color: #9b9b9b;
$lhs-active-icon-color: #3c91f7;

$content-background-color: #f5f6fa;

$table-header-text-color: #999999;
$table-row-text-color: #4a4a4a;
$table-row-border-color: #dfdfdf;
$table-icon-color: #3c91f7;
$table-shadow-color: rgba(0, 0, 0, 0.22);
$table-inactive-color: #4a4a4a;
$table-header-height: 40px;
$table-footer-height: 40px;

$customers-list-padding: 22px;
$customers-table-header-height: 60px;

$calls-list-padding: 22px;
$calls-table-header-height: 60px;
$calls-missed-call-background-color: rgba(208, 2, 27, 0.01);
$calls-duration-normal-color: #62a816;
$calls-duration-overwaited-color: #d0021b;
$calls-rating-star-color: #ff941b;
$calls-status-success-color: #62a816;
$calls-status-success-icon-color: #7ed321;
$calls-status-fail-color: #d0021b;
$calls-status-fail-icon-color: #d0021b;
$calls-client-feedback-icon-color: #ff941b;
$calls-operator-feedback-icon-color: #398ffb;
