$header-background-color: #3c91f7;
$header-text-color: #fff;
$header-height: 56px;
$header-photo-background-color: #f8c37a;

$lhs-width: 45px;
$lhs-background-color: #fff;
$lhs-shadow-color: rgba(184, 184, 184, 0.5);
$lhs-delimiter-color: #dfdfdf;
$lhs-icon-color: #9b9b9b;
$lhs-active-icon-color: #3c91f7;

$content-background-color: #f5f6fa;

$table-header-text-color: #999999;
$table-row-text-color: #4a4a4a;
$table-row-border-color: #dfdfdf;
$table-icon-color: #3c91f7;
$table-shadow-color: rgba(0, 0, 0, 0.22);
$table-inactive-color: #4a4a4a;
$table-header-height: 40px;
$table-footer-height: 40px;
$table-loader-main-color: rgba(57, 143, 251, 0.2);
$table-loader-accent-color: #398ffb;
$table-list-padding: 22px;
$customers-table-header-height: 60px;
$customers-table-email-cell-color: #398ffb;
$customers-table-additional-cell-color: #398ffb;
